@import '../variables.scss';

.city-tile {
  color: #f6fbff;
  background: transparentize(darken(#fff, 10%), 0.6);
  transition: background 0.25s;
  cursor: pointer;
  padding: 1em 1.25em;
  border-radius: $border-radius;

  &:hover {
    background: transparentize(#fff, 0.6);
  }

  >.inner {
    display: grid;
    row-gap: 0.5em;
  }

  .weather-icon {
    display: flex;
    align-items: center;
    font-size: 1.5em;
  }

  .local-time .time {
    font-size: 1.15em;
    font-weight: 600;
  }

  .temperature-display .value {
    font-size: 2.5em;
  }
}
