@import '../variables.scss';

.city-tile {
  height: 100%;
  color: transparentize(#fff, 0.1);
  text-shadow: 0 0 5px transparentize($black, 0.95);
  transition: background 0.2s;

  &:hover {
    background: transparentize(#fff, 0.6);
  }

  >.inner {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
  }

  .weather-icon {
    display: flex;
    align-items: center;
    font-size: 1.5em;
  }

  .local-time .time {
    font-size: 1.15em;
    font-weight: 600;
  }

  .temperature-display .value {
    font-size: 2.5em;
  }
}
