.city-list {
  background: #234d73;
  min-height: 100%;

  ul {
    padding: 2em;
    overflow-y: auto;
  }

  li {
    width: 140px;
    
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}
