* {
  box-sizing: border-box;
}

html, body, #mount, main, .page {
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

.page-section:not(:first-child) {
  margin-top: 2em;
}
