@import '../../../variables.scss';

.current-conditions {
  background: linear-gradient(to bottom right, #F761A1, #8C1BAB);
  max-width: 400px;
  text-align: center;

  h1 {
    margin-bottom: 1em;
  }

  .content {
    display: grid;
    row-gap: 1em;
  }

  .current-temp .value {
    font-size: 1.5em;
  }

  .today {
    display: grid;
    row-gap: 0.5em;

    .weather-icon {
      margin-top: 0.25em;
      font-size: 4em;
    }
  }

  .forecast {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: left;
    align-items: center;
    column-gap: 0.5em;
  }

  .daily-forecast-entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
    margin-bottom: 0.5em;

    .day {
      text-align: right;
      color: transparentize($white, 0.25);
    }
  }
}
