@import '../../../variables.scss';

.current-conditions {
  max-width: 400px;

  .inner {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2em;
    row-gap: 0.5em;
  }

  .right {
    text-align: right;
  }

  .current-temp .value {
    font-size: 2.5em;
  }

  .weather-icon {
    font-size: 2em;
    text-align: right;
  }

  .high-low {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 0.25em;
  }
}
